
f7-login-screen#loginPage
  f7-view
    f7-page(login-screen='')
      f7-login-screen-title My App
      f7-list(form='')
        f7-list-item
          f7-label Username
          f7-input(type='text', @Focus="onFocus", @input="username = $event.target.value", clear-button='', :placeholder.once="$t('login.username.placeholder')")
        f7-list-item
          f7-label Password
          f7-input(type='password', @input="password = $event.target.value", clear-button='', :placeholder.once="$t('login.password.placeholder')")
      f7-list
        f7-block
        p.list-block-label.color-red {{ message }}
        p.content-block.color-gray {{ $t('login.description') }}
        .row
          .col-50: f7-link(class=style.cancel, login-screen-close='', link="/")
            | {{ $t('login.btn.cancel') }}
          .col-50: f7-button(class=style.login, @click="onSubmit" type='submit')
            | {{ $t('login.btn.login') }}
        .row.center-text
          .col-20
          .col-60
            .fb-login-button(data-max-rows='1', data-size='large', data-button-type='continue_with', data-show-faces='false', data-auto-logout-link='false', data-use-continue-as='false')
          .col-20
