f7-page(infinite, :infinite-preloader="posts.length > 2",  @infinite="onInfiniteScroll",
        ptr, @ptr:refresh="ptrRefresh")
  f7-navbar
    f7-nav-left
      f7-link(v-show="!secret", login-screen-open="#loginPage", icon-f7='login', icon-size='22') 
      f7-link(v-show="secret", panel-open="left", icon-if-ios="f7:menu", icon-if-md="material:menu", icon-size='22') 
    f7-nav-title(:title="$t('home.title')")
    
    f7-nav-right
      f7-link(popup-open='#publisherPopup', icon-f7='compose', icon-size='22') 

  div(v-if="posts.length <= 0")
    f7-block-title No data to display
  div(v-if="posts.length > 0")
    
    f7-block-title Latest Posts
    //- f7-block(strong='')
    .card.demo-facebook-card(v-for="post in posts")
      .card-header
        .demo-facebook-avatar
          img(:src="post.owner.profile_img_url", width='34', height='34')
        .demo-facebook-name {{post.owner.displayname}}
        .demo-facebook-date {{fromNow(post.date)}}
      .card-content.card-content-padding
        p {{post.medias.text}}
        img(:src="post.medias.photos_url[0]", class="center-cropped", @click="openPhotoBrowser(post)")
        p.likes Likes: {{post.medias.likes_count}}    Comments: {{post.medias.comments_count}}
      .card-footer
        a.link(href='#', @click="like(post)") 
          f7-icon.padding(if-ios="f7:heart", if-md="f7:heart")
          | Like
        a.link(href='#', @click="comment(post)")
          f7-icon.padding(if-ios="material:comment", if-md="material:comment")
          | Comment
        a.link(href='#', @click="share(post)")
          f7-icon.padding(if-ios="material:share", if-md="material:share")
          | Share
        
